* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

.navbar {
    top: 0;
    display: flex;
    height: 70px;
    width: 100%; 
    flex-direction: row;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 2;
}

.navbar .logo-container {
    display: flex;
    height: 70px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}

.navbar .logo-container a{
    display: flex;
    height: 70px;
    justify-content: flex-start;
    align-items: center;
}

.navbar .logo-container img {
    max-height: 60px;
}

.navbar .logo-container p {
    font-size: 20px;
    font-family: 'Castoro Titling', cursive;
    color: #FFD28F;
    padding-left: 10px;
}

.navbar ul {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-evenly;
}

.navbar ul li a{
    color: #FFD28F;
    font-size: 15px;
    font-family: 'Castoro Titling', cursive;
    border-bottom: white;
}

.navbar .searchbar {
    display: flex;
    align-items: center;
    color: #FFD28F;
    gap: 10px;
    margin-right: 15px;
}

.navbar .searchbar input {
    background: transparent;
    outline: white;
    border: 1px;
    border-style: solid;
    border-color: #FFD28F;
    padding: 5px;
    border-radius: 30px;
    color: #FFD28F;
    padding-left: 15px;
    width: 150px;
}

input::placeholder {
    color: #FFD28F;
    padding-left: 0px;
  }
.navbar .searchbar i {
    cursor: pointer;
}


video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 969px;
        z-index: -1; 
        object-fit: cover;
}

.intro-section {
    display: flex;
    justify-content: center;
    color: #FFD28F;
    font-size: 50px;
    font-family: 'Castoro Titling', cursive;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.747);
    gap: 100px;
    height: 969px;
    z-index: 1;
    position: relative;

}

.intro-section p {
    display: inline;
    text-align: center;
    width: 100%;
    height: 100px;
    background: none;
}

.intro-section a {
    color: #FFD28F;
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border: 1px;
    border-color: #FFD28F;
    border-style: solid;
    padding: 15px 50px 15px 50px;
    font-size: 40px;
    border-radius: 50px;
    transition: 0.4s ease-in-out;
}

.intro-section a:hover {
    background: rgba(0, 0, 0, 0.7);
}

.category-section {
    display: flex;
    margin: 150px 0px 150px 0px;
    padding-right: 100px;
    padding-left: 100px;
    gap: 70px;
}

.category-section .category {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.822);
    border-radius: 20px;

}

.category-section .category img {
    border-color: black;
    display: block;
    max-height: 100%;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-style: solid;
    border-width: 1px;
    align-self: center;
}

.category-section .category p {
    border-color: black;
    display: block;
    height: 50px;
    background-color: #FFD28F;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-style: solid;
    border-width: 1px;
    color: black;
    align-self: center;
    text-align: center;
    width: 100%;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 7px;
    border-top: 0px;
}

h1 {
    font-family: 'Castoro Titling', cursive;
    color: #FFD28F;
    background-color: black;
    display: block;
    text-align: center;
    font-weight: lighter;
    height: 50px;
    font-size: 20px;
    padding-top: 15px;
}

.partners {
    height: 600px;
    background-color: rgb(22, 22, 22);
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

#p-img {
    width: auto;
    height: 300px;
    display: block;
    max-height: 400px;
    cursor: pointer;
}

.footer {
    background-color: black;
    font-family:'Montserrat', sans-serif;
    width: 100%;
    color: #FFD28F;
    display: block;
    text-align: center;
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media (max-width: 900px) {
    .category-section {
        margin: 150px 0px 150px 0px;
        padding-right: 100px;
        padding-left: 100px;
        gap: 70px;
    }
    
    .category-section .category {
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: center;
    }
    
    .category-section .category img {
        max-height: 100%;
        width: 100%;
        align-self: center;
    }
    
    .category-section .category p {
        height: 30px;
        align-self: center;
        text-align: center;
        width: 100%;
        font-size: 15px;
        font-weight: bold;
        padding-top: 5px;
        border-top: 0px;
    }
    #p-img {
        width: auto;
        height: 200px;
        display: block;
        max-height: 400px;
    }
}

@media (max-width: 800px) {
    .intro-section {
        font-size: 30px;
        gap: 150px;
    }

    .intro-section a {
        font-size: 20px;
    }

    .navbar .searchbar input {
        display: none;
    }
}

@media (max-width: 670px) {
    .navbar .logo-container p {
        font-size: 15px;
    }

    .navbar .logo-container img {
        height: 40px;
    }

    .navbar ul li a {
        font-size: 12px;
    }

    .category-section {
        margin: 150px 0px 150px 0px;
        padding-right: 150px;
        padding-left: 150px;
        gap: 70px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .category-section .category {
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: center;
    }
    
    .category-section .category img {
        max-height: 100%;
        width: 100%;
        align-self: center;
    }
    
    .category-section .category p {
        height: 30px;
        align-self: center;
        text-align: center;
        width: 100%;
        font-size: 15px;
        font-weight: bold;
        padding-top: 5px;
        border-top: 0px;
    }

    .partners {
        flex-direction: column;
    }

    #p-img {
        width: auto;
        height: 200px;
        display: block;
        max-height: 400px;
    }
}

@media (max-width: 500px) {
    .navbar .logo-container p {
        display: none;
    }

    .navbar ul li a {
        font-size: 10px;
    }

    .intro-section {
        font-size: 25px;
    }

    .category-section {
        padding-right: 100px;
        padding-left: 100px;
    }
}

@media (max-width: 400px) {
    .intro-section {
        font-size: 20px;
    }

    .intro-section a {
        font-size: 15px;
    }
}

@media (max-width: 350px) {
    .category-section {
        padding-right: 50px;
        padding-left: 50px;
    }

    .category-section .category p {
        font-size: 15px;
        height: 20px;
        padding-top: 0px;
    }
}